config AMLOGIC_POWER
	bool "Amloigc power related driver support"
	default n
	help
		this config enables to use amlogic power management driver
		Say y here if you want power related driver(pmu/dvfs) support

config DUMMY_AC
	bool "Dummy AC power supply driver"
	help
	  This enables the Dummy AC driver.
	  Say Y here to enable support for Dummy AC driver

config AMLOGIC_PMU_OF
	bool "Amlogic Power OF support"
	depends on AMLOGIC_POWER
	depends on I2C
	default n
	help
		Power management device tree support

source "drivers/amlogic/power/aml_pmu/Kconfig"
source "drivers/amlogic/power/aml_dvfs/Kconfig"
